@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <a href="/upload">Upload File</a>
    <a href="/filemanager">File Management</a>
    <a href="/container-management">Container Management</a>
    <a href="/access-tiers">Access Tiers</a>
    <a href="/lifecycle-management">Lifecycle Management</a>
    <a href="/leases-management">Leases Management</a>
    <a href="/immutable-blob-storage">Immutable Blob Storage</a>
    <a href="/copy-blobs">Copy Blobs</a>
</body>
</html>
